[Unit]
Description=Skylight Daemon
After=network.target

[Service]
# User must be explicitly defined
User=root

# Use an absolute path for WorkingDirectory
WorkingDirectory=/home/pi/skylight

# Hard-code the Python executable and config file path
ExecStart=/home/pi/skylight-env/bin/python /home/pi/skylight/skylight_server.py --config /home/pi/skylight/scripts/skylight.conf

# Restart policy
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
